[Desktop Entry]
Type=Application
Version=1.0
Name=BjmCncInterface
Comment=Bjm interface for CNC machines
Path=/home/rpi-cnc/bCNC
Exec=python3 bCNC
Icon=/home/rpi-cnc/bCNC/logo.jpg
Terminal=false
Categories=CNC;
